h2 {
    font-size: 30px;
}

body {
    background-color: transparent;
}

.hide {
    transform: translateX(-200%);
    transition: transform 0.5s ease-out;
}

#cardContainer {
    width: fit-content;
    height: 100px;
    padding: 10px;
    text-align: center;
    transition: transform 1s ease-in;
    transform: translateX(-200%);
}

#albumart {
    width: 75px;
    height: 75px;
}

#nowplaying {
    margin-top: 25px;
    margin-left: -10px;
    font-size: 20px;
    text-align: left;
}
